/* image section css start here  */
.image-rounded{
    height: 200px;
    width: 200px;
}

/* input box css  */
.mial-input{
    position: relative;
}
#mail-icon{
    position: absolute;
    top: 13px;
    right: 25px;
    color: #F1F3F4;
    /* color: #E0B41D; */
}
.inputBox{
    position: relative;
}
.icon{
    position: absolute;
    top: 11px;
    right: 25px;
    cursor: pointer;
    color: rgb(74, 167, 204);
}